{% extends 'layout-page.html.twig' %}
{% block body %}
    {{ message|raw }}<br/><br/>
    <a href="{{ env.DASHBOARD_URL }}" style="display: inline-block; background: #0e2c6e; color: #fff; padding: 5px 20px; text-decoration: none">Retour</a>
{% endblock %}