{% extends 'layout.html.twig' %}
{% block body %}
	<div style="font-family:Helvetica, Arial, sans-serif;font-size: 12px;color:#042b72; padding:0 20px;">
		<p>Bonjour {{ contact.civility }} {{ contact.lastname }}</p>
		<p>Nous vous confirmons votre inscription à la formation à distance <span style="font-weight: bold; font-style: italic;"><b><i>&laquo; {{ formation.title }} &raquo;</i></b></span>.
			Vous pouvez dès à présent vous connecter sur votre espace de formation e-learning (FOAD), en utilisant votre adresse mail ainsi que votre mot de passe.</p>
		<p>Si vous souhaitez modifier votre mot de passe, merci de vous rendre dans la rubrique Mon compte de votre espace adhérent.</p>
	</div>
	<div style="font-family:Helvetica, Arial, sans-serif; font-size: 12px;padding-top: 20px">
		<a href="http://www.elearning-snpi.com/" style="display: inline-block; background: #0e2c6e; color: #fff; padding: 5px 20px; text-decoration: none; border-radius: 4px"><span style="color: #fff; text-decoration: none">Accéder à la formation</span></a>
	</div>
{% endblock %}