{% extends 'layout-page.html.twig' %}
{% block body %}
    Ce compte a déja été validé, ou le token n'est pas valide<br/><br/>
    <a href="{{ env.DASHBOARD_CACI_URL }}" style="display: inline-block; background: #0e2c6e; color: #fff; padding: 5px 20px; text-decoration: none">Continuer</a>
{% endblock %}